lang: en
# EDIT THE VARIABLES ACCORDINGLY
title: Rajan Yadav
avatar: "https://i.postimg.cc/VvzR1Jdb/Profile-Picture-Photo.jpg"
email: mail.rajanydv@gmail.com
description: >-
  A core oriented frontend developer perplexing vision through UI/UX sometimes boggling in podcasts xD!
baseurl: ""
url: ""

podcast_title: "Hatchedland Spoils a Movie"
podcast_description: "This podcast is here to take you deep into the depth some compelling stories, acting, direction, musical score, and other aspects of cinematography and what makes them stand out."
podcast_banner: "https://i.postimg.cc/RhSCnp4h/podcast-cover.png"
podcast_rss: "https://feed.podbean.com/rajanydv/feed.xml"

# list your skills
skills:
  - coding
  - podcasting
  - drawing

# socials
twitter_username: hatchedland
github_username:  hatchedland
trakt_tv_username: rajanydv
lastfm_username: rajanyadav
linkedin_username: rajanydv
instagram_username: rajanydv_
podbean_userid: user-R1vnlbi3jC2m

sass:
  sass_dir: _sass
  style: compressed

# website tabs
collections:
  podcasts:
    output: true
  blog:
    output: true
  projects:
    output: true
  tags:
    output: true
    permalink: tag/:title/


defaults:
  - scope:
      path: ''
      type: blog
    values:
      layout: post
      comments: true
      toc: true
      permalink: /post/:title/
  - scope:
      path: ''
      type: projects
    values:
      # layout: projects
      comments: true   
      toc: true 
      # permalink: /projects/:title/
  - scope:
      path: ''
      type: podcasts
    values:
      layout: podcast
      comments: true   
      toc: true 
      permalink: /podcast/:title/
  - scope:
      path: ''
      type: tags
    values:
      layout: tag

# Build settings
theme: nuboard-theme
plugins:
  - jekyll-feed
  - jekyll-archives

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/

# code syntax highlighter
markdown: kramdown

kramdown:
  input: GFM
  auto_ids: true
  hard_wrap: true
  syntax_highlighter: rouge

# Comments
disqus-username: disqus_TNJRzbsQPX