<nav class="nav navbar center fixed-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-switch">
        <div class="switch-element"></div>
        <div class="switch-element"></div>
      </span>
    </button>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  
    <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo03">
      <ul class="navbar-nav mt-2 mr-5 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/index/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/podcast/">PODCAST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/blog/">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/portfolio/">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/about/">ABOUT</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex flex-row  mt-3 mt-lg-0">
        <li class="nav-item social">
          <a href="mailto:{{site.email}}" class="me-4 text-reset" target="_blank">
            <i class="fa fa-at" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item social">
          <a href="https://github.com/{{site.github_username}}" class="me-4 text-reset" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="nav-item social">
          <a href="https://last.fm/{{site.lastfm_username}}" class="me-4 text-reset" target="_blank">
            <i class="fa fa-lastfm" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item social">
          <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" class="me-4 text-reset" target="_blank">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item social">
          <a href="https://instagram.com/rajanydv_" class="me-4 text-reset" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item social">
          <a href="https://trakt.tv/users/{{site.trakt_tv_username}}" class="me-4 text-reset" target="_blank">
            <i class="fa fa-ticket" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item social">
          <a href="https://www.podbean.com/user-R1vnlbi3jC2m" class="me-4 text-reset"target="_blank">
            <i class="fa fa-podcast" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
</nav>
<script>
  const activePage = window.location;
  const navLinks = document.querySelectorAll('nav a').forEach(
    link => {
      if(link.href.includes(`${activePage}`)){
        link.classList.add('active');
      }
    }
  )
</script>