---
---

// @import "/library"
    // Path: layouts
@import "layouts/projects"
@import "layouts/blog"
@import "layouts/podcasts"
// @import "layouts/home";
@import "layouts/about";
@import "components/navbar"
// @import "components/buttons";
@import "components/podcast_player";
@import "components/syntax-highlighting";

   
#main-wrapper
    #main
        margin: 5em 1em 0em 1em
        max-width: 70em

#resultsContainer
    width: max-content
    li
        width: max-width