---
---

// @import "/library"
    // Path: layouts
@import "layouts/projects"
@import "layouts/casestudies"
@import "layouts/podcasts"
// @import "layouts/home";
@import "components/navbar"
@import "components/buttons";


// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



$primary-color: #ce6969
$secondary-color: #aeaeae
$bg-color: #f5f5f5
$bg-color-dark: #1a1a1a
$font-color: #000
$font-color-light: #aeaeae


    
#main-wrapper
    #main
        margin: 5em 3em
        max-width: 70em
        #title
            font-family: 'Bebas Neue'
            font-style: italic
            letter-spacing: -1px
            text-align: center
            background: #555555
            padding-top: 3px
            border: 1px solid

#posttitle
    font-family: 'Bebas Neue'
    letter-spacing: -1px
    font-style: italic

