
div
    a
        color: #b7dcea
    a:hover
        color: #ce6969
.blog
    max-width: 45em
    .container-wrap
        list-style: none
        .row
            // max-width: 80em
            .banner
                // max-width: 30em
                width: fit-content
                align-self: center
                padding-right: 1em
                align-self: center
            p
                max-width: 45em
