var 
    
.casestudies
    border: 1px solid blue
    max-width: 45em
    padding: 1em
    ul
        list-style: none
        li
            .banner
                overflow: hidden
                padding-right: 1em
            a
                display: block
                width: fit-content
                &:hover
                    background: #eee
            p
                max-width: 45em
