$font-color-light: #aeaeae

.podcast
    .channel-info
        display: flex
        gap: 2em
        align-items: baseline
        flex-wrap: wrap
        .banner
            text-align: center
            img
                align-content: center
                
    .episode-list
        padding: 1em
        title
            h2
                transform: translateY(2em)
        ul
            gap: 1em
            li
                max-width: 20em
                background: #fff
                border: 1px solid #ce6969
                text-decoration: none
                width: fit-content
                img
                    scale: 0.8