
.projects
    font-weight: 700
    margin-bottom: 1rem
    ul
        margin: 0 auto
        width: fit-content
        padding: 0
        gap: 2em
        li
            h2
                font-style: italic
            border: 1px solid #343a40
            list-style: none
            .banner
                max-width: 40em
                // height: 300px
                overflow: hidden
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: center
                    overflow: hidden
            div
                gap: 1em
                .about
                    display: flex
                    flex-direction: column
                    justify-content: space-evenly
                    h2
                        font-size: 1.5rem
                        font-weight: 700
                        margin-bottom: 1rem
                    p
                        max-width: 30em
                        font-size: 1rem
                        margin-bottom: 1rem
                    .techstacks-wrap
                        display: flex
                        width: fit-content
                        .techstack
                            width: fit-content
                            margin-right: 1rem
