@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');
    
    
.cta-buttons
    display: flex
    font-style: italic
    a
        font-size: 1.5em
        padding: 0 1em
        border:  1px solid
        color: #343a40
        border-left: 5px solid
        align-content: center
        &:hover
            text-decoration: none
            background: #343a40
            color: white
