// @use '../_library'
$font-color-light: #aeaeae
   
.bg-dark

    .navbar-toggler-switch
        display: flex
        flex-direction: column
        justify-content: space-evenly
        height: 1.5em
        .switch-element
            width: 2em
            height: 2px
            background-color: #aeaeae
        .active-switch
            background-color:#aeaeae
            


    #navbarTogglerDemo03
        padding: 0

        .nav-item
            width: min-content
            letter-spacing: -1px
            font-size: 1.5em
            padding: 0
            a
                color: $font-color-light
            a:hover
                color: #ce6969
            .active
                font-style: italic
                font-weight: 900
            .nav-link
                padding: 0 0.3em
        .social
            padding: 0 10px

                