---
layout: page
---
<h1 class="text-center pt-3">CaseStudies</h1>
<div class="container casestudies py-2">
  {% for casestudy in site.casestudies %}
  <div class="container-wrap px-3 bg-dark mb-2">
    <div class="row">
      <div class="col-sm p-2">
        <div class="banner">
          <img src={{casestudy.banner}} alt={{casestudies.title}} class="img-responsive img-fluid object-fit">
        </div>
      </div>
      <div class="col-sm pt-2">
        <h2 id="posttitle">{{ casestudy.title }}</h2>
        <div class="about">
          <p>Published on: {{casestudy.date-published}}</p>
          <p>{{ casestudy.description }}</p>
          <ul class="d-flex list-unstyled ">
            <strong>Tags - </strong>
            {% for tag in casestudy.tags %}
            <li class="list-style-none px-2">{{tag}}</li>
            {% endfor %}
          </ul>
          <div class="cta-buttons">
            <a href="{{ casestudy.url | relative_url }}">READ THE CASESTUDY</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>