---
layout: page
---

<div class="container casestudies">
  {% for casestudy in site.casestudies %}
    <ul>
      <li>
        <h5>Published on: {{casestudy.date-published}}</h5>
        <div class="banner">
          <img src={{casestudy.banner}} alt={{casestudies.title}}  class="img-responsive img-fluid object-fit">
        </div>
        <h2>{{ casestudy.title }}</h2>
        <h6>Author {{casestudy.author}}</h6>
        <p>{{ casestudy.description }}</p>
        <a href="{{ casestudy.url | relative_url }}">Read the Casestudy</a>
      </li>
    </ul>
  {% endfor %}
  </div>