<!DOCTYPE html>
{% include lang.html %}
<html lang="{{ site.lang }}" {{ prefer_mode }}>
{% include head.html %}

<body>
  {% include navbar.html %}
  <div id="main-wrapper" class="d-flex justify-content-center">
    <div id="main" class="container ">
      {{ content }}
    </div>
  </div>
  {% include footer.html %}
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@0.5.22/dist/vanta.clouds.min.js"></script>
<script>
VANTA.CLOUDS({
  el: "#main-wrapper",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 400.00,
  minWidth: 400.00
})
</script>

</html>