---
layout: default
---


<div class="container-fluid w-100 h-100">
	<div class="row d-flex justify-content-center align-middle">
		<div class="col-md-5 my-auto p-2">
			<div class="lc-block">
				<img class="img-fluid rounded-circle object-fit img-responsive" alt="Photo by Anders Jildén" src="https://random.imagecdn.app/250/250">
			</div>
		</div>
		<div class="col-md-7 p-2">
			<!-- /lc-block -->
			<div class="lc-block mb-3 me-lg-5">
				<div editable="rich">
					<h2>{{site.title}}</h2>
					<p class="lead">{{site.description}}</p>
				</div>
			</div>
			<!-- /lc-block -->
		</div>
	</div>
</div>
