---
layout: page
---

<h1 class="text-center py-3">Episode 1: {{page.title}}</h1>
<div class="podcast-player">
  {{content}}
  <div class="cta-podcast text-center">
    <a href="{{page.downloadurl}}"><button type="button" class="btn btn-link">Download</button></a>
    <a href="{{page.shareurl}}"><button type="button" class="btn btn-link">Share</button></a>
  </div>
</div>

<div class="p-2 d-flex flex-row flex-wrap">
  <div>
    <div class="ui-details clearfix">
      <h2 id="movie-title">{{page.movie}}</h2>
      <p>{{page.description}}</p>
      <!-- Labels -->
      <a href="#" class="label">{{page.release-date}}</a>
      <a href="#" class="label">PG - 13</a>
      <a href="#" class="label">{{page.duration}} min</a>
      <a href="#" class="label">Action</a>
      <a href="#" class="label">{{page.genre}}</a>
      <!-- Paragraph -->
      <p> <!-- Heading -->
      <h4><span>Director</span>:</h4>
      <!-- Director Name -->
      <h5>{{page.director}}</h5>
      <!-- Heading -->
      <h4><span>Writers</span>:</h4>
      <!-- Writers -->
      <h5>{{page.writer}}</h5>
      <!-- Heading -->
      <h4><span>Stars</span>:</h4>
      <!-- Stars -->
      <h5><span>{{page.cast}}</span></h5>
    </div>
    
  </div>
  <div>
    <img src="https://random.imagecdn.app/250/250">
  </div>

  
</div>



