---
layout: page
---


<div class="jumbotron d-flex flex-row flex-wrap">
  <div>
    <h1>Episode 1: {{page.title}}</h1>
    {{content}}
    <div class="ui-details clearfix">
      <h2 id="movie-title">{{page.movie}}</h2>
      <p>{{page.description}}</p>
      <!-- Labels -->
      <a href="#" class="label">{{page.release-date}}</a>
      <a href="#" class="label">PG - 13</a>
      <a href="#" class="label">{{page.duration}} min</a>
      <a href="#" class="label">Action</a>
      <a href="#" class="label">{{page.genre}}</a>
      <!-- Paragraph -->
      <p> <!-- Heading -->
      <h4><span>Director</span>:</h4>
      <!-- Director Name -->
      <h5>{{page.director}}</h5>
      <!-- Heading -->
      <h4><span>Writers</span>:</h4>
      <!-- Writers -->
      <h5>{{page.writer}}</h5>
      <!-- Heading -->
      <h4><span>Stars</span>:</h4>
      <!-- Stars -->
      <h5><span>{{page.cast}}</span></h5>
    </div>
    
  </div>
  <div>
    <img src="https://random.imagecdn.app/250/250">
  </div>

  
</div>



