---
layout: default
---

<section class="projects">
    <div class="text-center">          
        <h1 class="font-bold text-5xl font-page-title">
            Portfolio
        </h1>
    </div>
    <ul class="mt-5 flex flex-column gap-3">
        {% for project in site.projects %}
        <li class="px-3 py-3 list-unstyled bg-slate-900 flex relative">
            <div>
                <div class="banner">
                    <img src="{{ project.banner }}" alt="{{ project.title }}">
                </div>
            </div>
            <div class="p-2">
                <h2 class="text-3xl font-heading">{{ project.title }}</h2>
                    <p class="max-w-md">{{ project.description }}</p>
                    <ul class="techstacks-wrap">
                        {% for techstack in project.techstack %}
                        <li class="techstack">
                            <i class="fa fa-{{techstack}}" aria-hidden="true"></i>
                        </li>
                        {% endfor %}
                    </ul>
                <div class="px-2 absolute bottom-3 bg-blue-400 h-fit">
                    <a href="#" class="text-center rounded p-4" target="_blank">VIEW LIVE</a>
                    <a href="#" class="text-center rounded p-4" target="_blank">SOURCE CODE</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>