---
layout: default
---




<section class="projects">
    <h1 class="page-title">My Work</h1>
    <ul>
        {% for project in site.projects %}
        <li>
            <div class="banner">
                <img src="{{ project.banner }}" alt="{{ project.title }}">
            </div>
            <div class="about">
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                <ul class="techstacks-wrap">
                    {% for techstack in project.techstack %}
                        <li class="techstack">{{- techstack -}}</li>
                    {% endfor %}
                   </ul>
                <div>
                    <a href="{{ project.url | relative_url }}">View Project</a>
                    <a href="{{ project.sourcecode | relative_url }}">Source Code</a>      
                </div>
            </div>
            
        </li>
        {% endfor %}
    </ul>
</section>



